{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Your Health Is Our Priority</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'asset1/img/favicon.png' %}" rel="icon">
  <link href="{% static 'asset1/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'asset1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset1/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'asset1/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset1/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset1/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'asset1/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'asset1/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">Hospital</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="hadminlogin">Admin Login</a></li>
                  <!-- <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="doctorlogin">Login</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li> -->
                  <li><a href="doctorlogin">Doctor Login</a></li>
                  <li><a href="billingadminlogin">Billing Login</a></li>
                  <li><a href="patientlogin">Patient Login</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <a href="#cta" class="get-started-btn scrollto">Book Your Appoinment Here</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>HEALTH MISSION HOSPITAL</h1>
          <h2>TAKE CARE OF YOUR BODY,IT'S THE ONLY PLACE YOU HAVE TO LIVE</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Health Mission Hospital, established in 2014 was a thoughtful initiative from the renowned Rajagiri (CMI) group of institutions to offer quality and affordable medical care to the common man. The legacy of Rajagiri in pioneering a distinctive culture in the educational sector has helped them carve an exemplary medical institution in Kerala. The hospital is well laid out in a 40 acre green landscape in the serene setting of Chunangamvely, Aluva and is the closest facility to the Cochin International Airport. 
            Our team of highly skilled and compassionate healthcare professionals, including doctors, nurses, and support staff, 
            is committed to ensuring that you receive personalized and effective treatment. Whether you require emergency care, specialized treatment,
            or routine medical services, we are here to support you every step of the way.
            
            </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Explore our website to learn more about our services, departments, and patient care programs. At Rajagiri - Hospital , your health and well-being are our top priority.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Comprehensive Care</li>
              <li><i class="ri-check-double-line"></i> Advanced Technology</li>
              <li><i class="ri-check-double-line"></i> Dedicated Healthcare Professionals</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our team of highly skilled and compassionate healthcare professionals, including doctors, nurses, and support staff, 
              is committed to ensuring that you receive personalized and effective treatment. Whether you require emergency care, specialized treatment,
              or routine medical services, we are here to support you every step of the way.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Each hospital department is dedicated to specialized care, offering advanced diagnostics, treatments, 
            and personalized patient services. From emergency services to specialized surgery, our team of experts is 
            committed to delivering comprehensive, compassionate care in every field of medicine.</p>
      </div>

        <div class="row">

          {% for department in departments %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch pt-4" >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">{{department.name}}</a></h4>
              <p>{{department.bio}}</p>
            </div>
          </div>
          {% endfor %}          
        </div>
      </div>
    </section>
    <section id="cta" class="cta pb-0">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Book Your Appoinment Here</h3>
            <p> Your health is our top priority. We are dedicated to providing you with the best medical care and support. Schedule your appointment today!
              At Health Mission Hospital, we make it easy for you to schedule appointments with our qualified healthcare professionals. Please follow the instructions below to book your visit.


            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="../website/patientlogin">Appoinment</a>
          </div>
        </div>
      </div>
    </section>
    <div class="dropdown-divider"></div>
    <section id="cta" class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Register Here !</h3>
            <p> Welcome to Health Mission Hospital, We are committed to providing you with exceptional healthcare services. Please complete the registration process to help us serve you better.
              Registering with us allows you to access a range of services, including booking appointments, receiving test results, and managing your health records. Your information will be kept confidential and secure.

            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="../../website/patientdirectreg">Register</a>
          </div>
        </div>
      </div>
    </section>
    <section id="counts" class="counts">
      <div class="container">
        <div class="text-center title">
          <h3>What we have achieved so far</h3>
          <p></p>
        </div>
        <div class="row counters position-relative">
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>branches</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>At Health Mission Hospital, we value your feedback and are here to assist you. If you have any questions, concerns, or need assistance, please reach out to us using the information below.

          </p>
        </div>
      </div>

      

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location:</h4>
                <p>MG ROAD,BANGALORE</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>healthmissionhospital@gmail.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call Us:</h4>
                <p>0484 290 5000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Health Mission Hospital</h3>
      <p>Thank you for choosing Health Mission Hospital.If you have any questions or need assistance, contact us in social-links</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Health Mission Hospital</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">@JelwaFarhan</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'asset1/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'asset1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'asset1/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'asset1/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'asset1/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'asset1/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'asset1/js/main.js' %}"></script>

</body>

</html>